@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }

    a {
      color: #fff;
      font-size: 14px;
    }
  }
}

// end header

// start search

.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;

  &.page-search {
    min-height: 230px;
    .search__inner {
      padding: 55px 0 70px;
      &-text {
        margin-bottom: 20px;
      }
    }
  }
}

.search__inner {
  padding: 155px 0 100px;
  color: #fff;
  text-align: center;
  &-title {
    margin-bottom: 10px;
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }

  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    @include f500;
    line-height: 30px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {
      display: block;
      width: 100%;
      height: 56px;
      border-radius: 4px;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border: none;
      font-size: 14px;
      @include f500;
      outline: transparent;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder {
        color: #90a4ae;
        @include f500;
      } 
    }

    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}

// end search

// start products

.products {
  padding: 110px 0;
  background-color: $grey;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
  }

  &-name {
    max-width: 310px;
  }

  &-title {
    color: $bg;
    font-size: 18px;
    display: block;
  }

  &-category {
    font-size: 14px;
    color: $green;
    display: block;
  }

  &-price {
    font-size: 20px;
    color: $bg;
    @include f700;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar {
      font-size: 14px;
      width: 30px;
      min-height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      margin-right: 14px;
    }

    span {
      font-size: 14px;
      @include f500;
    }
  }

  &-star {
    font-size: 12px;
    span {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  text-align: center;
  button {
    margin: 45px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #fff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}


// end products

// end product-slider

.product-slider {
  padding: 110px 0 120px;
  .slick-dots {
    text-align: center;
    margin-top: 50px;
    
    li {
      display: inline-block;
      margin-right: 3px;
      margin-right: 3px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }
      
      button {
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        top: 2761px;
        width: 16px;
        height: 16px;
        border: none;
        font-size: 0;
        outline: transparent;
        cursor: pointer;
      }
    }
  }
}

// end product-slider

// start section-advantages

.advantages {
  background-color: $bg;
  padding: 110px 0;
}

.advantage__title {
  color: #fff;
}

.advantages__inner {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  max-width: 370px;
  text-align: center;
  padding: 0 15px;
  &:hover {
    .advantages__item-images {
      background-color: $green;
      path {
        fill: #fff;
      }
    }

    .advantages__item-title {
      color: $green;
    }
  }
  &-images {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all .5s;
  }

  &-title {
    font-size: 24px;
    margin-bottom: 25px;
    color: #fff;
    @include f500;
    transition: all .5s;
  }

  &-text {
    font-size: 15px;
  }
}

// end section-advantages

// start section-author

.author {
  background-image: url(../images/author-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }

  &__title {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-right: 45px;
    max-width: 270px;
    
    span {
      @include f700;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
  }
}

// end section-author

// start section-tutorial

.tutorial {
  padding: 70px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
  }
}

.tutorial__item {
  &-images {
    min-height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-title {
    background-color: #f8f8f8;
    font-size: 24px;
    text-align: center;
    @include f700;
    padding: 30px 10px;
    color: $bg;
  }
}

// end section-tutorial


// start footer

.footer {
  background-color: $bg;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 80px;
  }
}

.footer__copy {
  border-top: 1px solid #697378;
}

.footer__copy-text {
  text-align: center;
  font-size: 15px;
  color: #697378;
  padding: 25px 0 25px;
}

.footer__col {
  max-width: 270px;
  width: 100%;
  &-menu {
    max-width: 220px;
  }

  &-title {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #ffF;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }

  &-text {
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}

.footer__info {
  margin-top: 18px;
  @include f500;
  color: #fff;
  padding-left: 30px;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
    content:'\f041';
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
  }
}

.footer__info-phone {
  &::before {
    content:'\f095';
  }
}

.footer__col-list {
  a {
    position: relative;
    margin-bottom: 13px;
    padding-left: 22px;
    color: #b7c3c8;
    &::before {
      position: absolute;
      left: 0;
      content:'\f105';
      font-family: 'icomoon';
      color: $green;
      font-size: 18px;
    }
  }
}

.footer__social-link {
  margin-bottom: 33px;

  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }

  a {
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/css_sprites.png);
  }
}

.link-twitter{
  background-position: -28px 0;
}
.link-youtube{
  background-position: 0 -28px;
}
.link-pinterest{
  background-position: -28px -28px;
}
.link-linkedin{
  background-position: -56px 0;
}

.footer__form-title {
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
}

.footer__form {
  position: relative;
  input {
    background-color: #2f3c43;
    border: none;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    padding-left: 13px;
    padding-right: 50px;
    &::placeholder {
      color: #697378;
    }
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    height: 40px;
    width: 43px;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 11px;
      left: 0;
      right: 0;
      content:'\f124';
      font-family: 'icomoon';
      color: #fff;
      font-size: 20px;
    }
  }
}

// end footer

// start product-page

.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}

.product-page__aside {
  margin-right: 30px;
}

.aside__item {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 32px 32px;
  margin-bottom: 30px;
  width: 270px;
}

.aside__title {
  border-bottom: 1px solid #dde3e8;
  font-size: 20px;
  color: $bg;
  padding: 22px 0 19px;
  @include f700;
}

.category__list {
  padding-top: 10px;
  li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      left: 0;
      content:'\f105';
      font-family: 'icomoon';
      color: $green;
      font-size: 18px;
    }
  }

  a {
    color: $bg;
  }

  span {
    color: #90a4ae;
    margin-left: 10px;
  }
}

.price-range {
  form {
    padding-top: 20px;
  }

  button {
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    color: #fff;
    @include f500;
    width: 100%;
    display: block;
    border: none;
    cursor: pointer;
    position: relative;

    &::before {
      position: absolute;
      content:'\f002';
      left: 58px;
      top: 15px;
      font-family: 'icomoon';
      color: #fff;
      font-size: 15px;
    }
  }
}

.irs-min,
.irs-max {
  display: none;
}

.irs--flat .irs-line {
  background-color: #f2f5f8;
  height: 5px;
}

.irs--flat .irs-bar {
  height: 5px;
  background-color: $bg;
}

.irs--flat .irs-handle {
  top: 19px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 4px solid $green;
  border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from, .irs-single, .irs-to {
  top: 45px;
  left: 0;
}

.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
  display: none;
}

.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
  color: #78909c;
  font-size: 15px;
  padding: 0;
  background-color:transparent;
}

.irs--flat .irs-handle {
  top: 19px;
}

.product-page__aside {
  .product__item-img {
    min-height: 120px;
  }

  .product__item {
    box-shadow: none;
  }

  .product__item-content {
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }

  .product__item-info {
    padding: 0;
    min-height: 0;
  }

  .product__item-title {
    font-size: 16px;
  }

  .product__item-price {
    font-size: 16px;
  }

  .product__item-starnum {
    display: none;
  }

  .rate-star {
    margin-right: 0;
  }

  .product__item-author .avatar {
    margin-right: 9px;
  }

  .product__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }
}

.jq-ry-container {
  padding: 0;
}

.aside__product-item {

  .product__item:last-child {
    border: none;
    padding-bottom: 0;
  }

  .product__item:first-child {
   margin-top: 25px;
  }
}

.top-sellers__link {
  padding: 14px 10px;
  display: block;
  background-color: $green;
  color: #fff;
  @include f500;
  text-align: center;
}

.product-page__filter {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 26px;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    outline: none;
    &.active {
      color: $green;
    }
  }
}

.product-page__filter-sort {
  font-size: 14px;
  color: #707070;
  display: flex;
  align-items: center;
}

.product-page__content {
  width: 100%;
}

button.icon-sort-amount-asc {
  font-size: 18px;
  color: #455a64;
}

button.icon-unsorted {
  font-size: 14px;
  color: #7070;
}

.product-page__content {
  .product__item {
    max-width: 270px;
    background-color: #fff;
    transition: all .5s;
  }

  .product__item-img {
    min-height: 180px;
  }

  .product__item-content {
    padding: 10px 20px;
  }

  .product__item-title {
    font-size: 16px;
  }

  .product__item-info {
    min-height: 65px;
    padding: 10px 20px;
  }

  .rate-star {
    margin-right: 5px;
  }
}

.product-page__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.pagination__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 6px;
    }
  }

  a,
  span {
    width: 43px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 16px;
    color: $bg;
    @include f500;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

    &.active {
      background-color: $red;
      color: #fff;
    }
  }
}

.product__item-text {
  display: none;
}

.product__item-price {
  span {
    display: none;
  }
}

.product__item-list {
  display: none;
  .icon-comment-o,
  .icon-heart-o {
    display: inline-block;
    font-size: 12px;
    color: #b0bec5;
    padding-left: 50px;
    border-left: 1px solid #aeb4bb;
    position: relative;

    span {
      color: $bg;
      @include f500;
    }

    &::before {
      position: absolute;
      font-size: 16px;
      color: $green;
      left: 20px;
      top: 0;
    }
  }

  .icon-comment-o {
    padding-right: 30px;
    &::before {
      top: -2px;
    }
  }
}

.product__item {
  &.list {
    max-width: 100%;
    .product__item-img {
      width: 240px;
      float: left;
      min-height: 100%;
    }

    .product__item-text {
      display: block;
      font-size: 14px;
      color: #70838d;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .product__item-price {
      font-size: 30px;
      span {
        display: block;
        font-size: 13px;
        color: #aeb4bb;
        margin-top: 30px;
      }
    }

    .product__item-content {
      padding-top: 23px;
    }

    .product__item-name {
      max-width: 480px;
    }

    .product__item-list {
      display: block;
    }

    .product__item-star {
      margin-left: auto;
      margin-right: 30px;
    }
  }
  
}


// end product-page
